<div class="container1">
	<!-- Toolbar -->
	<mat-toolbar class="navbar" color="primary">
		<button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
			<mat-icon>menu</mat-icon>
		</button>
		<button mat-button class="logo" [routerLink]="'/'"> Support Forum </button>
		<div fxShow="true" fxHide.lt-md>
			<button mat-button class="link-button" [routerLink]="'/about'"> About </button>
		</div>
		<span class="menu-spacer"></span>
		<div *ngIf="status === false">
			<div fxShow="true" fxHide.lt-md>
				<button mat-button class="link-button" [routerLink]="'/login'"> Login </button>
				<button mat-button class="link-button" [routerLink]="'/register'"> Register </button>
			</div>
		</div>
		<div *ngIf="status === true">
			<div fxShow="true" fxHide.lt-md>
				<button mat-button class="link-button" [routerLink]="'/dashboard'"> Dashboard </button>
				<button mat-button class="link-button" (click)="logout()"> Logout </button>
			</div>
		</div>
	</mat-toolbar>

	<!-- Sidenav -->
	<mat-sidenav-container>
		<mat-sidenav class="sidenav" position="start" mode="over" #sidenav>
			<mat-nav-list>
				<a mat-list-item [routerLink]="'/about'" (click)="sidenav.toggle()"> About </a>
				<div *ngIf="status === false">
					<a mat-list-item [routerLink]="'/login'" (click)="sidenav.toggle()"> Login </a>
					<a mat-list-item [routerLink]="'/register'" (click)="sidenav.toggle()"> Register </a>
				</div>
				<div *ngIf="status === true">
					<a mat-list-item [routerLink]="'/dashboard'" (click)="sidenav.toggle()"> Dashboard </a>
					<a mat-list-item (click)="logout()" (click)="sidenav.toggle()"> Logout </a>
				</div>
			</mat-nav-list>
		</mat-sidenav>
		<!-- Sidenav Content -->
		<mat-sidenav-content>
			<div class="content">
				<router-outlet></router-outlet>
			</div>
			<!-- Footer -->
			<footer>
				<div id="copyright">
					<p id="copyright"> &copy; {{ year }} Salmaan Saeed </p>
				</div>
			</footer>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>