<!-- Toolbar -->
<mat-toolbar class="navbar" color="primary">
	<button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
		<mat-icon>menu</mat-icon>
	</button>
	<a class="logo" [routerLink]="'/'"> Support Forum </a>
	<div fxShow="true" fxHide.lt-md>
		<a mat-button class="link-button" [routerLink]="'/about'"> About </a>
	</div>
	<span class="menu-spacer"></span>

	<div *ngIf="status !== 'true'">
		<div fxShow="true" fxHide.lt-md>
			<a mat-button class="link-button" [routerLink]="'/login'"> Login </a>
			<a mat-button class="link-button" [routerLink]="'/register'"> Register </a>
		</div>
	</div>
	
	<div *ngIf="status === 'true'">
		<div fxShow="true" fxHide.lt-md>
			<a mat-button class="link-button" [routerLink]="'/dashboard'"> Dashboard </a>
			<a mat-button class="link-button" (click)="logout()"> Logout </a>
		</div>
	</div>
</mat-toolbar>

<!-- Sidenav -->
<mat-sidenav-container fxFlexFill>
	<mat-sidenav #sidenav>
		<mat-nav-list>
			<a mat-list-item [routerLink]="'/'" (click)="sidenav.toggle()"> Home </a>
			<a mat-list-item [routerLink]="'/about'" (click)="sidenav.toggle()"> About </a>
			<div *ngIf="status !== 'true'">
				<a mat-list-item [routerLink]="'/login'" (click)="sidenav.toggle()"> Login </a>
				<a mat-list-item [routerLink]="'/register'" (click)="sidenav.toggle()"> Register </a>
			</div>
			<div *ngIf="status === 'true'">
				<a mat-list-item [routerLink]="'/dashboard'" (click)="sidenav.toggle()"> Dashboard </a>
				<a mat-list-item (click)="logout()" (click)="sidenav.toggle()"> Logout </a>
			</div>
		</mat-nav-list>
	</mat-sidenav>

	<!-- Sidenav Content -->
	<mat-sidenav-content fxFlexFill>
		<div class="content">
			<router-outlet></router-outlet>
		</div>
		<footer>
			<div id="copyright">
				<p id="copyright"> &copy; {{ year }} Salmaan Saeed </p>
			</div>
		</footer>
	</mat-sidenav-content>
</mat-sidenav-container>
