<div>
<!-- Angular Material -->
<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      [matMenuTriggerFor]="menu"
    >
      <!-- Menu -->
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <span>Support Forum</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

	<!-- Boostrap -->
	<nav ngbNav #nav="ngbNav" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" routerLink="/">Support Forum</a>
			<button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>
			<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
				<ul class="navbar-nav me-auto">
					<li ngbNavItem>
						<a ngbNavLink [routerLink]="'/'" (click)="isMenuCollapsed = true" class="nav-link">Home</a>
					</li>
					<li ngbNavItem>
						<a ngbNavLink [routerLink]="'/about'" (click)="isMenuCollapsed = true" class="nav-link">About</a>
					</li>
				</ul>
				<ul class="navbar-nav ms-auto">
					<li ngbNavItem>
						<a ngbNavLink [routerLink]="'/login'" (click)="isMenuCollapsed = true" class="nav-link">Login</a>
					</li>
					<li ngbNavItem>
						<a ngbNavLink [routerLink]="'/register'" (click)="isMenuCollapsed = true" class="nav-link">Register</a>
					</li>
					<li ngbDropdown class="nav-item">
						<a href (click)="false" class="nav-link" ngbDropdownToggle>Account</a>
						<div ngbDropdownMenu class="dropdown-menu dropdown-menu-dark">
							<button ngbDropdownItem [routerLink]="'/dashboard'" (click)="isMenuCollapsed = true">Dashboard</button>
							<button ngbDropdownItem [routerLink]="'#'" (click)="isMenuCollapsed = true">Logout</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
