/* mobile portrait layout */
@media only screen and (max-width: 479px) {
    #register_form {
        margin-bottom: 30px;
    }
}

/* tablet portrait layout */
@media only screen and (min-width: 481px) and (max-width: 768px)  { 
	#register_form {
        margin-bottom: 30px;
    }
}

.progress-bar2 {
    margin-bottom: 10px;  
}

#p-bar2 {
    height: 15px;
}

.validator-info {
    color: darkred;
}


