<h1> Register </h1>
<div class="row">
    <div id="register_form" class="col col-lg-8">
        <!-- Message Bubble -->
        <div *ngIf="error" class="alert alert-danger" role="alert">
            {{ msg }}
        </div>
        <!-- Form Field -->
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <div *ngIf="checkoutForm.get('email')!.hasError('email') && submitted" class="error">
                Please enter the proper format for email
            </div>
            <mat-form-field class="field-full-width" appearance="fill">
                <mat-label>Email Address</mat-label>
                <input type="email" formControlName="email" matInput>
            </mat-form-field>
            <mat-form-field class="field-full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <input formControlName="username" matInput>
            </mat-form-field>
            <div *ngIf="checkoutForm.get('password')!.hasError('minlength') && submitted" class="error">
                Password must be 8 characters or more
            </div>
            <mat-form-field class="field-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" id="password" formControlName="password" matInput>
            </mat-form-field>
            <mat-form-field class="field-full-width" appearance="fill">
                <mat-label>Confirm</mat-label>
                <input type="password" formControlName="confirm" matInput>
            </mat-form-field>
            <button mat-flat-button color="primary" type="submit">Submit</button>
        </form>
    </div>
    <div id="message" class="col-md-auto col-lg-4">
        <div class="progress">
            <div id="p-bar" class="progress-bar bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100">
            </div>
        </div>
        <p id="has_lowercase"> contains a lowercase letter </p>
        <p id="has_uppercase"> contains an uppercase letter </p>
        <p id="has_number"> contains a number </p>
        <p id="good_password_length"> minimum of 8 characters </p>
    </div>
</div>